version: '3.8'
#Base de données
services:
  db:
    image: mysql:5.7
    command: >
      --innodb-buffer-pool-size=64M
      --innodb-log-buffer-size=8M
      --max-connections=50

    build: ./db
    environment:
      MYSQL_ROOT_PASSWORD: toto
      MYSQL_DATABASE: Produits
      MYSQL_USER: toto
      MYSQL_PASSWORD: toto
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - mon_reseau

  # Scraper
  scraper:
    build: ./scraper  
    depends_on:
      - db     
    volumes:
      - ./scraper:/app
    working_dir: /app/comparateur
    networks:
      - mon_reseau        # Il se branche sur le même "câble" que la db
    # Cette commande lance le robot automatiquement
    command: sh -c "sleep 10 && scrapy crawl produits_decitre ; scrapy crawl produits_eyrolles ; scrapy crawl produits_momox"

  
  comparateur:
    build:
      context: ./scraper
      dockerfile: Dockerfile
    container_name: comparateur-streamlit
    volumes:
      - ./scraper:/app
    ports:
      - "8502:8501"
    depends_on:
      - db
    command: sh -c "python compare.py && streamlit run app.py --server.port=8501 --server.address=0.0.0.0"


  # phpmyadmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    ports:
      - "8081:80"   
    environment:
      PMA_HOST: db      
    networks:
      - mon_reseau

volumes:
  db_data:

networks:
  mon_reseau:
